{% extends "base.html" %}  
{% block content %}
  <!-- Post Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
          <h2 class="section-heading">Record your mood.</h2></p>
          <form name="Q1" id="postForm" method="post" novalidate>
          {% csrf_token %}
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <p>
              <h3>How was your day today?</h3>
              <label>Answer</label>
              <input type="text" class="form-control" placeholder="Answer" id="answer1" required data-validation-required-message="Please answer to this question." name="answer1">
              <button onclick="stt_start1();" type="button"class="btn">Start</button>
              <button onclick="stt_end1();" type="button" class="btn">End</button>
              <p class="help-block text-danger"></p>
              </p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <p>
              <h3>Can you talk about it in more detail?</h3>
              <label>Answer</label>
              <input type="text" class="form-control" placeholder="Answer" id="answer2" required data-validation-required-message="Please answer to this question." name="answer2">
              <button onclick="stt_start2();" type="button"class="btn">Start</button>
              <button onclick="stt_end2();" type="button" class="btn">End</button>
              <p class="help-block text-danger"></p>
              </p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <p>
              <h3>Is there anything you want to talk about? Feel free to talk.</h3>
              <label>Answer</label>
              <input type="text" class="form-control" placeholder="Answer" id="answer3" required data-validation-required-message="Please answer to this question." name="answer3">
              <button onclick="stt_start3();" type="button"class="btn">Start</button>
              <button onclick="stt_end3();" type="button" class="btn">End</button>
              <p class="help-block text-danger"></p>
              </p>
          </div>
          <br>
          <div style="text-align:center;" id="success">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
          </div>
          </form>
          
          
          <!--blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote-->
          <p>
          <span class="caption text-muted">I choose my own feelings.<br>
          Today, I choose 'HAPPINESS'<br>
          -Alice in Wonderland-</span></p>
        </div>
      </div>
    </div>

  <hr>
  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/bae.js"></script>
  <!-- Custom scripts for this template -->
  <script src="../static/js/clean-blog.min.js"></script>
{% endblock content %}