{% extends "base.html" %}  
{% block content %}
  <!-- Post Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
          <h2 class="post-title">Record your mood.</h2></p>
          <form id="postForm" method="post" novalidate>
          {% csrf_token %}
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <h3>Write/Record your diary for today.<br></h3>
              <h5>What was happened, and what you felt in details?<br>
              Feel free to share your thoughts, and events.</h5>
              <label>Answer</label>
              <textarea id="answer" rows="15" type="text" class="form-control" placeholder="Answer" required data-validation-required-message="Please answer to this question." name="answer"></textarea>

              <button style="float:right" onclick="stt_end();" type="button" class="btn">End</button> 
              <button style="float:right" onclick="stt_start();" type="button" class="btn">Start</button><br><br><br>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br><br>
          <div style="text-align:center;" id="success">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button><br>
          </div>
          </form>
          
          
          <!--blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote-->
          <p>
          <span class="caption text-muted">I choose my own feelings.<br>
          Today, I choose 'HAPPINESS'<br>
          -Alice in Wonderland-</span></p>
        </div>
      </div>
    </div>

  <hr>
  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    const speechRecognition = window.webkitSpeechRecognition
    const recognition = new speechRecognition();
    const textBox = $("#answer");
    const instruction = $("#instruction");

    let content = '';

    recognition.continuous = true;

    recognition.onspeechend = () => {
        console.log("Speech End");
        recognition.start();
    }

    recognition.onerror = () => {
        console.log("On Error");
        recognition.start();
    }

    recognition.onresult = (event) => {
        const current = event.resultIndex;
        const transScript = event.results[current][0].transcript;
        content += transScript;
        textBox.val(content);
    }

    stt_start = () => {
      recognition.start();
  }
    stt_end = () => {
      recognition.stop();
    }
  </script>
  <!-- Custom scripts for this template -->
  <script src="../static/js/clean-blog.min.js"></script>
{% endblock content %}