{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/cover.css' %}">
<head/>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand" href="{% url 'index' %}">Today's U</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="{%url'index'%}">Home</a>
        <a class="nav-link" href="#">Record</a>
        <a class="nav-link" href="{% url 'reportMain' %}">Report</a>
        <a class="nav-link" href="#">LogIn</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Record Today's U.</h1>
    <p class="lead">Today's U automatically sense your mood by recording simple daily diary. Check your monthly Ups and Downs. By recording your daily diary, do some recommended exercises.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Record Now!</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Service made by <a href="https://github.com/sieun-Bae">SieunBae</a>, by <a href="https://www.instagram.com/ewig__sinsta/">@ewig__sinsta</a>.</p>
    </div>
  </footer>
</div>
</body>